html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{background:transparent;border:0;margin:0;padding:0;vertical-align:baseline;}
body{line-height:1;}
h1, h2, h3, h4, h5, h6{clear:both;font-weight:normal;}
ol, ul{list-style:none;}
blockquote{quotes:none;}
blockquote:before, blockquote:after{content:'';content:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
a img{border:none;}
#container{float:left;margin:0 -240px 0 0;width:100%;}
#content{margin:15px 280px 0 20px;}
#primary,
#secondary{float:right;overflow:hidden;width:220px;}
#secondary{clear:right;}
#footer{background-color:#fff;clear:both;width:100%;}
.one-column #content{margin:0 auto;width:640px;}
.single-attachment #content{margin:0 auto;width:900px;}
body,
input,
textarea,
.page-title span,
.pingback a.url{font-family:Georgia, "Bitstream Charter", serif;}
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text{font-family:"Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;}
input[type=submit]{font-family:"Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;}
pre{font-family:"Courier 10 Pitch", Courier, monospace;}
code{font-family:Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;}
#access .menu-header,
div.menu,
#colophon,
#branding,
#main,
#onecolumn-top,
#body-top,
#wrapper{margin:0 auto;width:940px;}
#wrapper{background:#fff;background-image:url('images/bg_content.png');background-repeat:repeat-y;background-position:702px 0;margin-top:-25px;padding:0 10px;position:relative;}
#body-top{background-image:url('images/spriteme1.png');background-repeat:no-repeat;background-position:-10px -62px;margin:-30px auto 0px auto;overflow:hidden;position:relative;width:960px;height:60px;}
#onecolumn-top{background-image:url('images/onecolumn-top.png');background-repeat:no-repeat;background-position:0px 0px;margin:-30px auto 0px auto;overflow:hidden;position:relative;width:960px;height:60px;}
#container.one-column-iframe{width:100%;}
#container.one-column-iframe #content .entry-content{padding:12px 0px 0px 0px;width:100%}
#container.one-column-iframe #content{margin:0px;padding:0px;width:100%;}
#container.one-column-iframe #content #comments{padding:0px 20px 5px 20px;margin:-15px 0 0 114px;}
#footer-widget-area{overflow:hidden;}
#footer-widget-area .widget-area{float:left;margin:10px 30px 10px 52px;width:220px;}
#footer-widget-area #fourth{margin-right:0;}
#site-info{float:left;font-size:14px;font-weight:bold;width:700px;}
#site-generator{float:right;width:110px;}
body{background-color:#53A4E6;background-image:url('images/default-bg.png');background-repeat:repeat;background-position:top center;background-attachment:fixed;}
body,
input,
textarea{color:#666;font-size:12px;line-height:18px;}
hr{background-color:#e7e7e7;border:0;clear:both;height:1px;margin-bottom:18px;}
p{margin-bottom:18px;}
ul{list-style:none;list-style-image:url('images/bullets/star-yellow.gif');margin:0 0 18px 1.5em;}
ol{list-style:decimal;margin:0 0 18px 1.5em;}
ol ol{list-style:upper-alpha;}
ol ol ol{list-style:lower-roman;}
ol ol ol ol{list-style:lower-alpha;}
ul ul,
ol ol,
ul ol,
ol ul{margin-bottom:0;}
dl{margin:0 0 24px 0;}
dt{font-weight:bold;}
dd{margin-bottom:18px;}
strong{font-weight:bold;}
cite,
em,
i{font-style:italic;}
big{font-size:131.25%;}
ins{background:#ffc;text-decoration:none;}
blockquote{font-style:italic;padding:0 3em;}
blockquote cite,
blockquote em,
blockquote i{font-style:normal;}
pre{background:#f7f7f7;color:#222;line-height:18px;margin-bottom:18px;padding:1.5em;}
abbr,
acronym{border-bottom:1px dotted #666;cursor:help;}
sup,
sub{height:0;line-height:1;position:relative;vertical-align:baseline;}
sup{bottom:1ex;}
sub{top:.5ex;}
input[type="text"],
textarea{background:#f9f9f9;border:1px solid #ccc;box-shadow:inset 0px 0px 10px rgba(0,0,0,0.1);-moz-box-shadow:inset 0px 0px 10px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0px 0px 10px rgba(0,0,0,0.1);padding:2px;}
a:link{color:#044085;}
a:visited{color:#0773F0;}
a:hover{color:#0662CC;}
a:active{color:#0662CC;}
.screen-reader-text{position:absolute;left:-9000px;}
.sf-menu a.sf-with-ul{padding-right:2.25em;min-width:1px;}
.sf-sub-indicator{position:absolute;display:block;right:10px;top:1.05em;margin-top:5px;width:10px;height:10px;text-indent:-999em;overflow:hidden;background:url(js/superfish/images/White.png) no-repeat -10px -100px;}
a .sf-sub-indicator{top:.7em;background-position:0 -100px;}
a:focus .sf-sub-indicator,
a:hover .sf-sub-indicator,
a:active .sf-sub-indicator,
li:hover a .sf-sub-indicator,
li.sfHover a .sf-sub-indicator{background-position:-10px -100px;}
.sf-menu ul .sf-sub-indicator{background-position:-10px 0;}
.sf-menu ul a .sf-sub-indicator{background-position:0 0;}
.sf-menu ul a:focus .sf-sub-indicator,
.sf-menu ul a:hover .sf-sub-indicator,
.sf-menu ul a:active .sf-sub-indicator,
.sf-menu ul li:hover a .sf-sub-indicator,
.sf-menu ul li.sfHover a .sf-sub-indicator{background-position:-10px 0;}
.sf-shadow ul{box-shadow:4px 4px 0px rgba(0, 0, 0, 0.2);-moz-box-shadow:4px 4px 0px rgba(0, 0, 0, 0.2);-webkit-box-shadow:4px 4px 0px rgba(0, 0, 0, 0.2);}
.sf-shadow ul.sf-shadow-off{background:transparent;}
.sf-menu a{padding:5px 8px;}
#sonar-head-wrapper{background-image:url('images/woven-header.png');border-bottom:2px solid #000;min-height:190px;margin:0px auto;position:relative;width:100%;}
#header{padding:0px 0 0 0;}
h1#site-title{margin-top:-22px;}
#site-title{float:left;font-family:'Droid Serif', arial, serif;font-size:36px;font-weight:bold;line-height:36px;letter-spacing:2px;margin:20px 0px 18px 10px;position:relative;text-shadow:0px 0px 5px black;width:710px;}
#site-title a{color:#FFF;font-weight:bold;text-decoration:none;}
#site-description{color:#53A4E6;float:left;font-family:'Droid Serif', arial, serif;font-size:20px;font-style:italic;font-weight:bold;line-height:20px;margin:-10px 0 20px 10px;position:relative;width:710px;}
#branding img{margin-bottom:25px;margin-top:-110px;}
#branding .t-wrap{float:left;margin-top:10px;width:940px;height:110px;}
#access{background:rgb(0, 0, 0);background:rgba(0, 0, 0, 0.35);display:block;margin:0 auto;float:left;width:100%;}
#access .menu-header,
div.menu{font-size:13px;font-weight:bold;margin:0 auto;width:1000px;}
#access .menu-header ul,
div.menu ul{list-style:none;margin:0;}
#access .menu-header li,
div.menu li{float:left;position:relative;}
#access a{color:#aaa;display:block;line-height:38px;text-decoration:none;}
#access ul ul{box-shadow:0px 3px 3px rgba(0,0,0,0.2);-moz-box-shadow:0px 3px 3px rgba(0,0,0,0.2);-webkit-box-shadow:0px 3px 3px rgba(0,0,0,0.2);display:none;position:absolute;top:38px;left:0;float:left;width:180px;z-index:99999;}
#access ul ul li{min-width:180px;}
#access ul ul ul{left:100%;top:0;}
#access ul ul a{background:#444;line-height:1em;padding:10px;width:160px;height:auto;}
#access li a:hover,
#access ul ul a:hover{background:#333;color:#fff;}
#access ul li ul:hover{display:block;}
#access ul li.current_page_item a,
#access ul li.current-menu-ancestor a,
#access ul li.current-menu-item a,
#access ul li.current-menu-parent a{color:#53A4E6;}
* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover{color:#fff;}
#main{clear:both;overflow:hidden;padding:10px 0 0 0;}
#content{margin-bottom:36px;}
#content,
#content input,
#content textarea{color:#333;font-size:16px;line-height:24px;}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr{margin-bottom:24px;}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul{margin-bottom:0;}
#content pre,
#content kbd,
#content tt,
#content var{font-size:15px;line-height:21px;}
#content code{font-size:13px;}
#content dt,
#content th{color:#000;}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6{color:#000;line-height:1.5em;margin:0 0 20px 0;}
#content table{border:1px solid #e7e7e7;margin:0 -1px 24px 0;text-align:left;width:100%;}
#content tr th,
#content thead th{background-color:#F1F1F1;color:#888;font-size:12px;font-weight:bold;line-height:18px;padding:9px 24px;}
#content tr td{border-top:1px solid #e7e7e7;padding:6px 24px;}
#content tr.odd td{background:#f2f7fc;}
.hentry{margin:0 0 48px 0;}
.home .sticky{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:#D2E9FA;margin-left:-20px;margin-right:-20px;padding:18px 20px;}
.single .hentry{margin:0 0 36px 0;}
.page-title{color:#000;font-size:14px;font-weight:bold;margin:0 0 36px 0;}
.page-title span{color:#333;font-size:16px;font-style:italic;font-weight:normal;}
.page-title a:link,
.page-title a:visited{color:#888;text-decoration:none;}
.page-title a:active,
.page-title a:hover{color:#0773F0;}
#content .entry-title{clear:none;color:#000;font-size:21px;font-weight:bold;line-height:1.3em;margin-bottom:0;}
.entry-title a:link,
.entry-title a:visited{color:#000;text-decoration:none;}
.entry-title a:active,
.entry-title a:hover{color:#0773F0;}
.entry-meta{color:#888;font-size:12px;}
.entry-meta abbr,
.entry-utility abbr{border:none;}
.entry-meta abbr:hover,
.entry-utility abbr:hover{border-bottom:1px dotted #666;}
.entry-content,
.entry-summary{clear:both;padding:12px 0 0 0;}
#content .entry-summary p:last-child{margin-bottom:12px;}
.entry-content fieldset{border:1px solid #e7e7e7;margin:0 0 24px 0;padding:24px;}
.entry-content fieldset legend{background:#fff;color:#000;font-weight:bold;padding:0 24px;}
.entry-content input{margin:0 0 24px 0;}
.entry-content input.file,
.entry-content input.button{margin-right:24px;}
.entry-content label{color:#888;font-size:12px;}
.entry-content select{margin:0 0 24px 0;}
.entry-content sup,
.entry-content sub{font-size:10px;}
.entry-content blockquote.left{float:left;margin-left:0;margin-right:24px;text-align:right;width:33%;}
.entry-content blockquote.right{float:right;margin-left:24px;margin-right:0;text-align:left;width:33%;}
.page-link{clear:both;color:#000;font-weight:bold;margin:0 0 22px 0;word-spacing:0.5em;}
.page-link a:link,
.page-link a:visited{background:#f1f1f1;color:#333;font-weight:normal;padding:0.5em 0.75em;text-decoration:none;}
.home .sticky .page-link a{background:#d9e8f7;}
.page-link a:active,
.page-link a:hover{color:#0773F0;}
body.page .edit-link{clear:both;display:block;}
.entry-utility .edit-link a{background:#888;-moz-border-radius:3px;border-radius:3px;color:#FFFFFF;float:right;font-size:12px;font-weight:700;line-height:24px;text-decoration:none;padding:0px 8px;}
.entry-utility .edit-link a:hover{background:#53A4E6;color:#FFF;}
#entry-author-info{background:#f2f7fc;border-top:4px solid #000;clear:both;font-size:14px;line-height:20px;margin:24px 0;overflow:hidden;padding:18px 20px;}
#entry-author-info #author-avatar{background:#fff;border:1px solid #e7e7e7;float:left;height:60px;margin:0 -104px 0 0;padding:11px;}
#entry-author-info #author-description{float:left;margin:0 0 0 104px;}
#entry-author-info h2{color:#000;font-size:100%;font-weight:bold;margin-bottom:0;}
.entry-utility{border-bottom:2px groove #eee;clear:both;color:#888;font-size:12px;line-height:18px;padding-bottom:10px;}
.entry-meta a,
.entry-utility a{color:#888;}
.entry-meta a:hover,
.entry-utility a:hover{color:#0773F0;}
#content .video-player{padding:0;}
.format-status img.avatar{-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 2px #ccc;-moz-box-shadow:0 1px 2px #ccc;box-shadow:0 1px 2px #ccc;float:left;margin:4px 10px 2px 0;padding:0;}
.entry-status-format{color:#666;font-size:10px;font-weight:500;letter-spacing:0.1em;line-height:2.6em;position:relative;text-transform:uppercase;top:20px;}
.home #content .format-aside p,
.home #content .category-asides p{font-size:14px;line-height:20px;margin-bottom:10px;margin-top:0;}
.home .hentry.format-aside,
.home .hentry.category-asides{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:8px;background:#D2E9FA;}
.home #content .format-aside .entry-content,
.home #content .category-asides .entry-content{padding-top:0;}
.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img{border:10px solid #f1f1f1;margin-bottom:0;}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb{margin-right:20px;margin-top:-4px;}
.home #content .format-gallery .entry-utility,
.home #content .category-gallery .entry-utility{padding-top:4px;}
.attachment .entry-content .entry-caption{font-size:140%;margin-top:24px;}
.attachment .entry-content .nav-previous a:before{content:'\2190\00a0';}
.attachment .entry-content .nav-next a:after{content:'\00a0\2192';}
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img{max-width:100%;height:auto;}
.alignleft,
img.alignleft{display:inline;float:left;margin-right:24px;margin-top:4px;}
.alignright,
img.alignright{display:inline;float:right;margin-left:24px;margin-top:4px;}
.aligncenter,
img.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;}
img.alignleft,
img.alignright,
img.aligncenter{margin-bottom:12px;}
.wp-caption{background:#f1f1f1;line-height:18px;margin-bottom:20px;max-width:632px !important;padding:4px;text-align:center;}
.wp-caption img{}
.wp-caption p.wp-caption-text{color:#888;font-size:12px;margin:5px;}
.wp-smiley{margin:0;height:15px;width:15px;}
img.wp-smiley{height:15px;width:15px;}
.gallery{margin:0 auto 18px;}
.gallery .gallery-item{float:left;margin-top:0;text-align:center;width:33%;}
.gallery-columns-2 .gallery-item{width:50%;}
.gallery-columns-4 .gallery-item{width:25%;}
.gallery img{border:2px solid #cfcfcf;}
.gallery-columns-2 .attachment-medium{max-width:92%;height:auto;}
.gallery-columns-4 .attachment-thumbnail{max-width:84%;height:auto;}
.gallery .gallery-caption{color:#888;font-size:12px;margin:0 0 12px;}
.gallery dl{margin:0;}
.gallery img{border:10px solid #f1f1f1;}
.gallery br+br{display:none;}
#content .attachment img{display:block;}
.single-attachment .entry-content{width:680px;}
.navigation{color:#888;font-size:12px;line-height:18px;overflow:hidden;}
.navigation a:link,
.navigation a:visited{color:#888;text-decoration:none;}
.navigation a:active,
.navigation a:hover{color:#ff4b33;}
.nav-previous{float:left;width:50%;}
.nav-next{float:right;text-align:right;width:50%;}
#nav-above{margin:0 0 18px 0;}
#nav-above{display:none;}
.paged #nav-above,
.single #nav-above{display:block;}
#nav-below{margin:-18px 0 0 0;}
.widget-area ul{list-style:none;margin-left:0;}
.widget-area ul ul{list-style:none;list-style-image:url('images/bullets/star-yellow.gif');margin:0 0 18px 1.5em;}
.widget-area select{max-width:100%;}
.widget_search #s{width:60%;}
.widget_search label{display:none;}
.widget-container{margin:0 0 18px 0;}
.widget-title{color:#222;font-weight:bold;}
.widget-area a:link,
.widget-area a:visited{text-decoration:none;}
.widget-area a:active,
.widget-area a:hover{text-decoration:underline;}
.widget-area .entry-meta{font-size:11px;}
#wp_tag_cloud div{line-height:1.6em;}
#wp-calendar{width:100%;}
#wp-calendar caption{color:#222;font-size:14px;font-weight:bold;padding-bottom:4px;text-align:left;}
#wp-calendar thead{font-size:11px;}
#wp-calendar thead th{}
#wp-calendar tbody{color:#aaa;}
#wp-calendar tbody td{background:#f5f5f5;border:1px solid #fff;padding:3px 0 2px;text-align:center;}
#wp-calendar tbody .pad{background:none;}
#wp-calendar tfoot #next{text-align:right;}
.widget_rss a.rsswidget{color:#000;}
.widget_rss a.rsswidget:hover{color:#ff4b33;}
.widget_rss .widget-title img{width:11px;height:11px;}
#main .widget-area ul{margin-left:7px;padding:0 20px 0 0;width:200px;}
#main .widget-area ul ul{border:none;margin-left:1.3em;padding:0;}
#primary,
#secondary{background:#FFFFFF;margin:-5px 0px 15px 1px;padding:3px;}
h3.widget-title{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;background:#53A4E6;background-image:url("images/menufade.png");background-attachment:scroll;background-repeat:repeat-x;color:#FFFFFF;margin-bottom:5px;padding:5px;width:100%;}
#footer-widget-area{}
.pagination{clear:both;font-size:11px;line-height:13px;padding:10px 0 10px 15px;position:relative;}
.pagination span, .pagination a{background:#666666;background-image:url("images/menufade.png");background-attachment:scroll;background-repeat:repeat-x;color:#FFFFFF;display:block;float:left;margin:2px 2px 2px 0;padding:6px 9px 5px 9px;text-decoration:none;width:auto;}
.pagination a:hover{background:#53A4E6;color:#FFFFFF;}
.pagination .current{background:#53A4E6;color:#FFFFFF;padding:6px 9px 5px 9px;}
#footer{background-image:url('images/spriteme1.png');background-repeat:no-repeat;background-position:-10ipx -204px;margin-bottom:20px;padding-top:14px;}
#colophon{margin-top:-4px;overflow:hidden;padding:18px 0;}
#site-info{font-weight:bold;}
#site-info a{color:#000;text-decoration:none;}
#site-generator{font-style:italic;position:relative;}
#site-generator a{background:url(images/wordpress.png) center left no-repeat;color:#666;display:inline-block;line-height:16px;padding-left:20px;text-decoration:none;}
#site-generator a:hover{text-decoration:underline;}
img#wpstats{display:block;margin:0 auto 10px;}
#footer-html{padding:10px;text-align:center;}
pre{-webkit-text-size-adjust:140%;}
code{-webkit-text-size-adjust:160%;}
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area{-webkit-text-size-adjust:120%;}
#site-description{-webkit-text-size-adjust:none;}
#comments{clear:both;margin-left:33px;}
#comments-title{color:#333;font-size:12px;font-weight:500;line-height:2.6em;margin-top:20px;padding:0 0 2.6em;text-transform:uppercase;}
.nopassword,
.nocomments{color:#aaa;font-size:24px;font-weight:100;margin:26px 0;text-align:center;}
.commentlist{clear:both;list-style:none;margin-left:28px;width:616px;}
.commentlist > li.comment{background:#f6f6f6;border:1px solid #ddd;-moz-border-radius:3px;border-radius:3px;margin:0 auto 1.625em;padding:1.625em;position:relative;width:77.9%;}
.commentlist .pingback{margin:0 auto 1.325em;padding:0 1.625em;width:78.9%;}
.commentlist .children{list-style:none;margin:0;}
.commentlist .children li.comment{background:#fff;border-left:1px solid #ddd;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;margin:1.625em 0 0;padding:1.625em;position:relative;}
.commentlist .children li.comment .fn{display:block;}
.comment-meta .fn{font-style:normal;}
.comment-meta{color:#666;font-size:12px;line-height:2.2em;}
.commentlist .children li.comment .comment-meta{line-height:1.625em;margin-left:50px;}
.commentlist .children li.comment .comment-content{margin:1.625em 0 0;}
.comment-meta a{font-weight:bold;}
.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover{}
.commentlist .avatar{-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:2px 2px 2px #ccc;-moz-box-shadow:2px 2px 2px #ccc;box-shadow:2px 2px 2px #ccc;border:1px solid #C4C4C4;left:-102px;padding:0;position:absolute;top:0;}
.commentlist > li:before{content:url(images/comments/comment-arrow.png);left:-21px;position:absolute;}
.commentlist > li.pingback:before{content:'';}
.commentlist .children .avatar{background:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;left:2.2em;padding:0;top:2.2em;}
a.comment-reply-link{font-size:12px;font-weight:bold;}
.commentlist > li.bypostauthor{background:#ddd;border-color:#d3d3d3;}
.commentlist > li.bypostauthor .comment-meta a:focus,
.commentlist > li.bypostauthor .comment-meta a:active,
.commentlist > li.bypostauthor .comment-meta a:hover{}
.commentlist > li.bypostauthor:before{content:url(images/comments/comment-arrow-bypostauthor.png);}
.commentlist .children > li.bypostauthor{background:#ddd;border-color:#d3d3d3;}
.comment-heading{font-size:18px;margin-left:75px;}
.comments-link-top a{background-image:url('images/spriteme1.png');background-repeat:no-repeat;background-position:-10px -137px;color:#53A4E6 !important;float:right;font-size:14px;font-weight:900;line-height:42px;margin:0 0 10px 10px;overflow:hidden;text-align:center;text-decoration:none;width:50px;height:47px;}
.comments-link-top a:hover{color:#0773F0 !important;}
#respond{background:#ddd;border:1px solid #d3d3d3;-moz-border-radius:3px;border-radius:3px;clear:both;color:#444;margin:10px 0 1.625em 70px;padding:1.625em;position:relative;width:478px;}
#respond input[type="text"],
#respond textarea{background:#fff;border:4px solid #eee;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);-moz-box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);box-shadow:inset 0 1px 3px rgba(204,204,204,0.95);position:relative;padding:10px;text-indent:80px;}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment{position:relative;}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label{background:#eee;-webkit-box-shadow:1px 2px 2px rgba(204,204,204,0.8);-moz-box-shadow:1px 2px 2px rgba(204,204,204,0.8);box-shadow:1px 2px 2px rgba(204,204,204,0.8);color:#555;display:inline-block;font-size:13px;left:4px;min-width:60px;padding:4px 10px;position:relative;top:40px;z-index:1;}
.rtl #respond .comment-form-author label,
.rtl #respond .comment-form-email label,
.rtl #respond .comment-form-url label,
.rtl #respond .comment-form-comment label{-webkit-box-shadow:-1px 2px 2px rgba(204,204,204,0.8);-moz-box-shadow:-1px 2px 2px rgba(204,204,204,0.8);box-shadow:-1px 2px 2px rgba(204,204,204,0.8);}
#respond input[type="text"]:focus,
#respond textarea:focus{text-indent:0;z-index:1;}
#respond textarea{width:95%;}
#respond .comment-form-author .required,
#respond .comment-form-email .required{color:#bd3500;font-size:22px;font-weight:bold;left:75%;position:absolute;top:45px;z-index:1;}
#respond .comment-notes,
#respond .logged-in-as{font-size:13px;}
#respond p{margin:10px 0;}
#respond .form-submit{float:right;margin:-20px 0 10px;}
#respond input#submit{background:#5c5c5c;background:-moz-linear-gradient(top, #5c5c5c 0%, #222222 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#5c5c5c), color-stop(100%,#222222));background:-webkit-linear-gradient(top, #5c5c5c 0%,#222222 100%);background:-o-linear-gradient(top, #5c5c5c 0%,#222222 100%);background:-ms-linear-gradient(top, #5c5c5c 0%,#222222 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c5c5c', endColorstr='#222222',GradientType=0);background:linear-gradient(top, #5c5c5c 0%,#222222 100%);border:1px solid #222;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.3);-moz-box-shadow:0px 1px 2px rgba(0,0,0,0.3);box-shadow:0px 1px 2px rgba(0,0,0,0.3);color:#eee;cursor:pointer;font-size:15px;left:30px;margin:20px 0;padding:5px 42px 5px 22px;position:relative;text-shadow:0 -1px 0 rgba(0,0,0,0.3);}
#respond input#submit:active{background:#1b8be0;color:#bfddf3;}
#respond input#submit:hover{background:#222222;background:-moz-linear-gradient(top, #222222 0%, #5c5c5c 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#5c5c5c));background:-webkit-linear-gradient(top, #222222 0%,#5c5c5c 100%);background:-o-linear-gradient(top, #222222 0%,#5c5c5c 100%);background:-ms-linear-gradient(top, #222222 0%,#5c5c5c 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#5c5c5c',GradientType=0);background:linear-gradient(top, #222222 0%,#5c5c5c 100%);}
#respond #cancel-comment-reply-link{color:#666;margin-left:10px;text-decoration:none;}
#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover{text-decoration:underline;}
.commentlist #respond{margin:1.625em 0 0;width:auto;}
#reply-title{color:#333;font-size:24px;font-weight:bold;line-height:30px;}
#cancel-comment-reply-link{color:#888;display:block;font-size:10px;font-weight:normal;line-height:2.2em;letter-spacing:0.05em;position:absolute;right:1.625em;text-decoration:none;text-transform:uppercase;top:1.1em;}
#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:active,
#cancel-comment-reply-link:hover{color:#ff4b33;}
#respond label{line-height:2.2em;}
#respond input[type=text]{display:block;height:24px;width:75%;}
#respond p{font-size:12px;}
p.comment-form-comment{margin:0;}
.form-allowed-tags{display:none;}
.read-more{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background:transparent url("images/read-more.png") no-repeat scroll -50px -15px;border:1px solid #9b9d9e;color:#333;cursor:pointer;float:right;margin:15px 0 20px 0;padding:0px 8px;font-weight:bold;font-size:14px;text-decoration:none;text-shadow:1px 1px 0 #ddd;}
.read-more:hover{background:transparent url("images/read-more.png") no-repeat scroll -50px -60px;}
.t-wrap #searchform{float:right;margin:30px 50px 0 0;position:relative;text-align:right;}
.t-wrap #searchform div{margin:0;}
.t-wrap #s{background:url(images/spriteme1.png) no-repeat 5px 6px;background-position:-10px -10px;-moz-border-radius:2px;border-radius:2px;float:right;font-size:14px;height:22px;padding:4px 10px 4px 28px;-webkit-transition-duration:400ms;-webkit-transition-property:width, background;-webkit-transition-timing-function:ease;-moz-transition-duration:400ms;-moz-transition-property:width, background;-moz-transition-timing-function:ease;width:80px;}
.t-wrap #s:focus{background-color:#fff;width:151px;}
.t-wrap #searchsubmit{display:none;}
.t-wrap .only-search #searchform{top:5px;z-index:1;}
.t-wrap .only-search #s{background-color:#666;border-color:#000;color:#222;}
.t-wrap .only-search #s,
.t-wrap .only-search #s:focus{width:150px;}
.t-wrap .only-search #s:focus{background-color:#bbb;}
.t-wrap .with-image #searchform{top:auto;bottom:-27px;}
.t-wrap .only-search + #access div{padding-right:160px;}
.calendar{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;box-shadow:0 0 1px 1px rgba(0, 0, 0, 0.4);-webkit-box-shadow:0 0 1px 1px rgba(0, 0, 0, 0.4);-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.4);background:#ebebeb;border:1px solid #555555;font-family:"Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;float:left;margin-right:20px;width:41px;height:47px;font-size:12px;}
.calendar span{display:block;}
.calendar .month{-moz-border-top-left-radius:3px;-moz-border-top-right-radius:3px;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px;border-top-left-radius:3px;border-top-right-radius:3px;background:#53A4E6;border-bottom:1px solid #555555;font-weight:bold;padding:0 2px 0 2px;text-align:center;color:#ffffff;line-height:1.5;}
.calendar .day{-moz-border-bottom-left-radius:3px;-moz-border-botton-right-radius:3px;-webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px;border-bottom-left-radius:3px;border-bottom-right-radius:3px;background:#f6f6f6;padding:2px 0 2px 0;text-align:center;font-weight:bold;font-size:18px;color:#000000;line-height:1.3;}
.sonar-sitemap-heading{background-color:#53A4E6;background-image:url("images/fade.png");border:1px solid #417FB3;padding:3px 3px 3px 7px;width:640px;height:30px;}
.sonar-sitemap-body{background-color:#f6f6f6;border-right:1px solid #C0C0C0;border-bottom:1px solid #C0C0C0;border-left:1px solid #C0C0C0;padding:10px 5px 5px 5px;margin-bottom:20px;width:640px;}
@media print{body{background:none !important;}
#wrapper{clear:both !important;display:block !important;float:none !important;position:relative !important;}
#header{border-bottom:2pt solid #000;padding-bottom:18pt;}
#colophon{border-top:2pt solid #000;}
#site-title,
#site-description{float:none;line-height:1.4em;margin:0;padding:0;}
#site-title{font-size:13pt;}
.entry-content{font-size:14pt;line-height:1.6em;}
.entry-title{font-size:21pt;}
#access,
#branding img,
#respond,
.comment-edit-link,
.edit-link,
.navigation,
.page-link,
.widget-area{display:none !important;}
#container,
#header,
#footer{margin:0;width:100%;}
#content,
.one-column #content{margin:24pt 0 0;width:100%;}
.wp-caption p{font-size:11pt;}
#site-info,
#site-generator{float:none;width:auto;}
#colophon{width:auto;}
img#wpstats{display:none;}
#site-generator a{margin:0;padding:0;}
#entry-author-info{border:1px solid #e7e7e7;}
#main{display:inline;}
.home .sticky{border:none;}
}
#ie6 h1#site-title{margin-top:0px !important;}
#ie6 #site-title{margin-top:0px !important;}
#ie6 #wrapper{background-image:none;}
#ie6 #body-top{background-image:none;}
#ie6 #onecolumn-top{background-image:none;}
#ie6 body{background-image:none;}
#ie6 h3.widget-title{background-image:none;}
#ie6 .pagination span, #ie6 .pagination a{background-image:none;}
#ie6 #footer{background-image:none;}
#ie6 .comments-link-top a{background-image:none;}
#ie6 .sonar-sitemap-heading{background-image:none;}
#ie7 h1#site-title{margin-top:0px !important;z-index:-1;}
#ie7 #site-title{margin-top:0px !important;z-index:-1;}
#ie7 #site-description{z-index:-1;}
#ie7 #body-top{z-index:-1;}
.wp_syntax{color:#100;background-color:#f9f9f9;border:1px solid silver;margin:0 0 1.5em 0;overflow:auto;}
.wp_syntax{overflow-x:auto;overflow-y:hidden;padding-bottom:auto;width:100%;}
.wp_syntax table{border-collapse:collapse;}
.wp_syntax div, .wp_syntax td{vertical-align:top;padding:2px 4px;}
.wp_syntax .line_numbers{text-align:right;background-color:#def;color:gray;overflow:visible;}
.wp_syntax pre{margin:0;width:auto;float:none;clear:none;overflow:visible;font-size:12px;line-height:1.333;white-space:pre;}